// estilo de index //
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg{
    background-image: url(../assets/img/fondo.png);
    height: 800px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-inicio{
    color:rgb(255, 255, 255)
}

// estilo de index //



// estilo de home //

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;    
}

.bg-mio{
    background-color: rgb(238, 238, 238);
}

.carousel{
    padding: 1rem;
}

.carousel img{
    border-radius: 1rem;
}

.container{
    padding: 2rem;
     
}

.footer{
    padding: 1em;
    background-color: rgb(255, 255, 255);
    bottom: 0%;
}

.main-footer{
    grid-area: footer;
}

// estilo de home //


