*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;    
}

.bg-mio{
    background-color: rgb(0, 0, 0);
}

.carousel{
    padding: 1rem;
}

.carousel img{
    border-radius: 1rem;
}

.container{
    padding: 2rem;
     
}


.footer{
    padding: 1em;
    background-color: rgb(255, 255, 255);
    bottom: 0%;
   
}

.main-footer{
    grid-area: footer;

}


